/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
/* Styling for boxes */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #eee;
  color: #333;
}

/* Floating profile image to the right */
main img {
  float: right;
}

/* Applying position property to the aside element */
aside {
  position: relative;
}

/* Applying position property to the h2 element inside the aside element */
aside h2 {
  position: absolute;
}
